# Loko.rs backend URL
# Standard Loko.rs port er 5150
# Kør: cargo loco start (i loko.rs projekt)
LOKO_API_URL=http://localhost:5150

# Sæt til 'production' for at deaktivere devtools
NODE_ENV=development
